:root {
  // Colors
  --white: #ffffff;
  --dark-charcoal: #18191f;
  --soft-orange: #fba24f;
  --tangerine: #fc8f49;
  --vibrant-red: #ff1e1e;
  --dark-gray: #575757;
  --muted-gray: #5b5b5b;
  --slate-gray: #707070;
  --medium-gray: #828282;
  --deep-navy-black: #0b0d17;
  --box-shadow: 0 0.25rem 1.5rem rgba(30, 40, 90, 0.08);
}
