@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --pure-white: #ffffff;
  --dark-charcoal: #18191f;
  --soft-orange: #fba24f;
  --tangerine: #fc8f49;
  --vibrant-red: #ff1e1e;
  --dark-gray: #575757;
  --muted-gray: #5b5b5b;
  --slate-gray: #707070;
  --medium-gray: #828282;
  --deep-navy-black: #0b0d17;
  --box-shadow: 0 0.25rem 1.5rem rgba(30, 40, 90, 0.08);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: var(--dark-charcoal);
  overflow-x: hidden;
}

h2 {
  font-size: 1.875rem;
  color: var(--slate-gray);
}

p {
  line-height: 1.65;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-ai-c {
  align-items: center;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 81.875rem;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.orange {
  color: var(--tangerine);
}

.logo {
  font-weight: 600;
  color: var(--muted-gray);
  text-transform: uppercase;
}

.button {
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--pure-white);
  padding: 1.375rem 2.375rem;
  border-radius: 2.5rem;
  background: linear-gradient(
    135deg,
    var(--soft-orange) 30%,
    var(--vibrant-red)
  );
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2.5rem;
  background: linear-gradient(
    135deg,
    var(--soft-orange) 0%,
    var(--vibrant-red)
  );
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms ease-in-out;
}

.button:hover::before {
  opacity: 1;
}

header {
  height: 4.5rem;
  overflow: hidden;
  transition: height 300ms ease-in-out;
}

header.open {
  height: 15.3125rem;
}

header > .container {
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 1.125rem;
}

.toggle-wrapper {
  width: 100%;
  margin-bottom: 1.25rem;
}

.logo {
  font-size: 1.25rem;
}

.toggler {
  display: flex;
}

nav > ul {
  flex-direction: column;
  margin-bottom: 0.75rem;
}

nav > ul > li:not(:last-child) {
  margin: 0 0 1.125rem 0;
}

nav > ul > li > a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-gray);
  transition: all 300ms ease-in-out;
}

nav > ul > li > a:hover {
  color: var(--tangerine);
}

#home > .container {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  flex-direction: column;
}

.home-text {
  flex: 1;
}

.home-text > h1 {
  font-size: 2rem;
  line-height: 1.35;
  color: var(--dark-gray);
}

.home-text > h1 > span:not(.orange) {
  display: block;
}

.home-text > p {
  max-width: auto;
  margin: 2rem 0 3rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--medium-gray);
}

.home-image {
  flex: 1;
  margin-top: 3.5rem;
}

.home-image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#about {
  background: url("./images/background.png") center/cover no-repeat;
}

#about > .container {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  flex-direction: column;
}

.about-image {
  flex: 1;
}

.about-image > img {
  width: 80%;
  margin-right: 0;
}

.about-text {
  flex: 1;
  margin-top: 3.5rem;
  text-align: center;
}

.about-text > p {
  max-width: 28.625rem;
  margin: 2rem 0 3rem;
}

#recipes > .container {
  padding-top: 4.875rem;
  padding-bottom: 4.875rem;
}

#recipes h2,
#recipes h2 + p {
  text-align: center;
}

#recipes h2 + p {
  max-width: 46.875rem;
  margin: 1.75rem auto 0;
}

.recipe-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2.25rem 0;
}

.recipe {
  padding: 1.375rem;
  border-radius: 1.25rem;
  box-shadow: var(--box-shadow);
}

.recipe-image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1.25rem;
}

.recipe-text {
  padding: 1.75rem 0 0.75rem;
}

.recipe-text > h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#contact {
  margin-top: 0;
}

.contact-socials {
  padding: 3.75rem;
  border-radius: 1.25rem;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: var(--box-shadow);
}

.contact-socials > div:not(:last-child) {
  margin-bottom: 2rem;
}

.contact-socials h3 {
  font-size: 2.625rem;
  margin-bottom: 0.5rem;
}

footer {
  color: var(--pure-white);
  margin-top: 6.125rem;
  text-align: center;
  background: var(--deep-navy-black);
}

footer > .container {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

footer .logo {
  font-size: 1.5rem;
}

footer p {
  font-size: 0.875rem;
}

footer .desc {
  margin: 1.125rem 0;
}

@media (min-width: 40rem) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #home > .container,
  #about > .container,
  .contact-socials {
    flex-direction: row;
  }

  #home > .container {
    padding-top: 3rem;
  }

  .home-text > p {
    max-width: 17.5rem;
  }

  #about > .container {
    padding-bottom: 0;
  }

  .about-text {
    text-align: left;
  }

  .about-text > p {
    margin: 2rem 0 1.75rem;
  }

  .recipe-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
  }

  .contact-socials > div:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 64rem) {
  body {
    font-size: 1.125rem;
  }

  h2 {
    font-size: 2.625rem;
  }

  header {
    height: auto;
  }

  header > .container {
    flex-direction: row;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
  }

  .toggle-wrapper {
    width: auto;
    margin-bottom: 0;
  }

  .toggler {
    display: none;
  }

  nav > ul {
    flex-direction: row;
    margin-bottom: 0;
  }

  nav > ul > li:not(:last-child) {
    margin: 0 2rem 0 0;
  }

  nav > ul > li > a {
    font-size: 1.125rem;
  }

  .button {
    font-size: 1.3125rem;
  }

  #home > .container {
    padding-top: 4.5rem;
  }

  .home-text > h1 {
    font-size: 3.75rem;
  }

  .home-text > p {
    max-width: 32.25rem;
    margin: 2rem 0 4.5rem;
    font-size: 1.25rem;
  }

  .home-image {
    margin-top: 0;
  }

  .about-image > img {
    width: 22.25rem;
    margin-right: 9.375rem;
  }

  .about-text {
    flex: 0.825;
    margin-top: 0;
  }

  .about-text > p {
    margin: 2rem 0 4.5rem;
  }

  .recipe-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .recipe-text {
    padding: 2rem 0 1rem;
  }

  .recipe-text > h4 {
    font-size: 1.625rem;
  }

  #contact {
    margin-top: 1.25rem;
  }

  .contact-socials {
    padding: 4.5rem 3.75rem;
  }

  .contact-socials h3 {
    font-size: 3rem;
    margin-bottom: 0.625rem;
  }

  footer .logo {
    font-size: 1.75rem;
  }

  footer p {
    font-size: 1rem;
  }

  footer .desc {
    margin: 1.25rem 0;
  }
}

@media (min-width: 87.5rem) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
